* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #4b5563;
}

header {
  display: flex;
  justify-content: space-between;
  height: 9vh;
  margin: 1rem 0 0;
  padding: 0 2rem;
  border-bottom: solid 1px #b4aeae;
}
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
header ul li {
  list-style: none;
}
header ul li a {
  color: #4b5563;
  text-decoration: none;
}
header ul li .active {
  color: #ffffff;
  background-color: #16a34a;
  padding: 0.6rem 1.8rem;
  border: solid 1px #21c05c;
  border-radius: 5px;
}
header ul li .active:hover {
  background-color: #21c05c;
  transition: 0.3s;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}
header .logo img {
  width: 2.3rem;
  height: 2.3rem;
}
header .logo h2 {
  font-size: 1.5rem;
  color: #1f2937;
  text-align: center;
}

.intro {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 3.5rem;
  flex-wrap: wrap;
}
.intro .info {
  display: flex;
  flex-direction: column;
  width: 60vw;
  gap: 2rem;
}
.intro .info h1 {
  color: #1f2937;
  font-size: 3.5rem;
}
.intro .info .subtitle {
  font-size: 1.2rem;
  margin-bottom: 3rem;
}
.intro .info button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.intro .info button img {
  width: 1rem;
  height: 0.9rem;
}
.intro .info .btns-intro {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
}
.intro .info #give {
  padding: 10px 20px;
  color: #ffffff;
  background-color: #16a34a;
  border: solid 1px #21c05c;
  border-radius: 5px;
}
.intro .info #give:hover {
  background-color: #21c05c;
  transition: 0.3s;
}
.intro .info #adquire {
  padding: 10px 20px;
  color: #2563eb;
  background-color: #ffffff;
  border: solid 1px #2563eb;
  border-radius: 5px;
}
.intro .info #adquire:hover {
  background-color: #dfdfdf;
  transition: 0.3s;
}

.data {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10vh;
  background-color: #f3f5f8;
  padding: 2%;
  text-align: center;
}
.data .numbers {
  color: #16a34a;
  font-size: 40px;
}

.quest-ans {
  display: flex;
  flex-direction: column;
  margin: 10vh;
}
.quest-ans .cards-como-funciona {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.quest-ans .cards-como-funciona .card {
  display: flex;
  flex-direction: column;
  background-color: #f3f5f8;
  width: 38vw;
  height: 70vh;
  margin-top: 6rem;
  border-radius: 10px;
  gap: 2.2rem;
  padding: 2.3rem;
  border-left: solid 4px #9CA3AF;
}
.quest-ans .cards-como-funciona .card-doar {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.quest-ans .cards-como-funciona .card-doar .doar-title {
  color: #16a34a;
  font-weight: 400;
  font-size: 25px;
}
.quest-ans .cards-como-funciona ol {
  list-style: none;
}
.quest-ans .cards-como-funciona ol li {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 2.2rem;
}
.quest-ans .cards-como-funciona ol li .numb1 {
  background-color: #16a34a;
  color: #fff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quest-ans .cards-como-funciona ol li .p1 {
  font-weight: bold;
  color: #09090B;
}
.quest-ans .cards-como-funciona .card-adquirir {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.quest-ans .cards-como-funciona .card-adquirir .adquirir-title {
  color: #2563EB;
  font-weight: 400;
  font-size: 25px;
}
.quest-ans .cards-como-funciona .numb2 {
  background-color: #2563EB;
  color: #fff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desc {
  font-size: 25px;
}

h2 {
  color: #1f2937;
  font-size: 40px;
  margin-bottom: 3%;
}

.produtos {
  display: flex;
  flex-direction: column;
  background-color: #f3f5f8;
  padding: 10vh;
  flex-wrap: wrap;
}
.produtos .cards-produtos {
  display: flex;
  justify-content: space-evenly;
}
.produtos .cards-produtos .card-items {
  border: solid 2px #16A34A;
  display: flex;
  flex-direction: column;
  height: 60vh;
  margin-top: 6rem;
  border-radius: 10px;
  background-color: #fff;
  width: 22vw;
}
.produtos .cards-produtos .card-items .items {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.produtos .cards-produtos .card-items .items img {
  width: 100%;
}
.produtos .cards-produtos .card-items .items h4 {
  font-size: 20px;
  font-weight: 400;
  color: #1f2937;
}
.produtos .cards-produtos .card-items .items p {
  padding: 0 1rem;
  text-align: center;
}
.produtos .cards-produtos .card-items .items button {
  color: #ffffff;
  background-color: #16a34a;
  padding: 0.6rem 1.8rem;
  border: solid 1px #21c05c;
  border-radius: 5px;
  cursor: pointer;
}
.produtos .cards-produtos .card-items .items button:hover {
  background-color: #21c05c;
  transition: 0.3s;
}

.experiencia {
  display: flex;
  flex-direction: column;
  margin: 10vh;
}
.experiencia .title-ex {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experiencia .cards-ex {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.experiencia .cards-ex .card-ex {
  border: solid 1px #9CA3AF;
  border-left: solid 4px #9CA3AF;
  display: flex;
  flex-direction: column;
  height: 45vh;
  margin-top: 6rem;
  border-radius: 10px;
  width: 25vw;
  padding: 3%;
}
.experiencia .cards-ex .card-ex .icon {
  margin-bottom: 1rem;
}
.experiencia .cards-ex .card-ex .class {
  font-size: 14px;
}

.projeto {
  display: flex;
  flex-direction: column;
  padding: 10vh;
  background-color: #f3f5f8;
}
.projeto .title-project {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projeto .title-project .chamada {
  font-size: 1.5rem;
  text-align: center;
  padding: 0 15rem 3rem;
}
.projeto .title-project button {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.projeto .title-project .btns-end {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
}
.projeto .title-project .btns-end #now {
  color: #ffffff;
  background-color: #16a34a;
  padding: 0.6rem 1.8rem;
  border: solid 1px #21c05c;
  border-radius: 5px;
}
.projeto .title-project .btns-end #now:hover {
  background-color: #21c05c;
  transition: 0.3s;
}
.projeto .title-project .btns-end #more {
  padding: 0.6rem 1.8rem;
  color: #2563eb;
  border: solid 1px #2563eb;
  border-radius: 5px;
}
.projeto .title-project .btns-end #more:hover {
  background-color: #dfdfdf;
  transition: 0.3s;
}

footer {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
}
footer .rodape {
  display: flex;
  justify-content: space-between;
  padding: 3.5rem 1.5rem;
  flex-wrap: wrap;
}
footer .rodape .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .rodape .content .text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
footer .rodape .content .text .logo2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.6rem;
}
footer .rodape .content .text .logo2 h3 {
  color: #FFFFFF;
  font-family: "Inter" sans-serif;
}
footer .rodape .content .text .logo2 img {
  width: 1.6rem;
  height: 1.6rem;
}
footer .rodape .content .text p {
  color: #9CA3AF;
  width: 14.5rem;
}
footer .rodape .content .links {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
footer .rodape .content .links h4 {
  color: #FFFFFF;
}
footer .rodape .content .links ul {
  list-style: none;
}
footer .rodape .content .links ul a {
  text-decoration: none;
  color: #9CA3AF;
}
footer .rodape .content .links ul a:hover {
  color: #2563EB;
  transform: 0.3s;
}
footer .rodape .content .redes {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
footer .rodape .content .redes h4 {
  color: #FFFFFF;
}
footer .rodape .content .redes p {
  color: #9CA3AF;
  width: 14.5rem;
}
footer .rodape .content .redes .icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.direitos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  border-top: solid 1px #4B5563;
}
.direitos p {
  color: #9CA3AF;
}/*# sourceMappingURL=style.css.map */