* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: #4b5563;
}

header {
  display: flex;
  justify-content: space-between;
  height: 9vh;
  margin: 1% 0 0;
  padding: 0 2%;
  border-bottom: solid 1px #b4aeae;
}
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 33px;
}
header li {
  list-style: none;
}
header a {
  color: #4b5563;
  text-decoration: none;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.logo img {
  width: 35px;
  height: 35px;
}
.logo h2 {
  font-size: 25px;
  color: #1f2937;
  text-align: center;
}

.active {
  color: #ffffff;
  background-color: #16a34a;
  padding: 10px 30px;
  border: solid 1px #21c05c;
  border-radius: 5px;
}
.active:hover {
  background-color: #21c05c;
  transition: 0.3s;
}

.intro {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 3.5rem;
  flex-wrap: wrap;
}
.intro .info {
  display: flex;
  flex-direction: column;
  width: 60vw;
  gap: 20px;
}
.intro .info h1 {
  color: #1f2937;
  font-size: 60px;
}
.intro .info .subtitle {
  font-size: 20px;
  margin-bottom: 7%;
  font-family: "Inter", sans-serif;
}
.intro .info button {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
.intro .info button img {
  width: 15px;
  height: 14px;
}
.intro .info .btns-intro {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.intro .info #give {
  padding: 10px 20px;
  color: #ffffff;
  background-color: #16a34a;
  border: solid 1px #21c05c;
  border-radius: 5px;
}
.intro .info #give:hover {
  background-color: #21c05c;
  transition: 0.3s;
}
.intro .info #adquire {
  padding: 10px 20px;
  color: #2563eb;
  background-color: #ffffff;
  border: solid 1px #2563eb;
  border-radius: 5px;
}
.intro .info #adquire:hover {
  background-color: #dfdfdf;
  transition: 0.3s;
}

.data {
  display: flex;
  justify-content: space-around;
  margin-top: 10vh;
  background-color: #f3f5f8;
  padding: 2%;
  align-self: center;
}
.data .numbers {
  color: #16a34a;
  font-size: 40px;
}

.quest-ans {
  display: flex;
  flex-direction: column;
  margin: 10vh;
}
.quest-ans h2 {
  color: #1f2937;
  font-size: 40px;
  margin-bottom: 3%;
}

.cards {
  background-color: #f3f5f8;
  width: 40vw;
  height: 70vh;
  margin: 10vh;
  padding: 40px;
  border-radius: 10px;
}
.cards .card-doar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.cards .card-doar .doar-title {
  color: #16a34a;
  font-weight: 400;
  font-size: 25px;
}
.cards .sub {
  margin-bottom: 2rem;
}
.cards ol {
  list-style: none;
}
.cards ol li {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}
.cards ol li .numb1 {
  background-color: #16a34a;
  color: #fff;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards ol li .p1 {
  font-weight: bold;
  color: #09090B;
}/*# sourceMappingURL=style.css.map */