*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    color: #4B5563;
}

header{
    border: solid;
    display: flex;
    justify-content: space-between;
    height: 9vh;
    margin-top: 31px;
    padding: 0 2%;

    h1{
        font-size: 25px;
        color: #1F2937;
        text-align: center;
    }

    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 33px;
    }

    li{
        list-style: none;
    }

    a{
        color: #4B5563;
        text-decoration: none;
    }
}

.active{
    color: #FFFFFF;
    background-color: #16A34A;
    padding: 10px 30px;
    border: solid 1px #21C05C;
    border-radius: 5px;
    
    &hover{
        background-color: #21C05C;
    }
}